# Database
# MONGODB_URI=mongodb://localhost:27017/aidocs
DB_CONNECTION=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PORT=

# Iron Session
NEXT_PUBLIC_COOKIE_NAME=weam
NEXT_PUBLIC_COOKIE_PASSWORD=your-secure-password-here

# OpenAI
OPENAI_API_KEY=your-openai-api-key

# API Configuration
NEXT_PUBLIC_API_BASE_PATH=/ai-doc
