# Database
# MONGODB_URI=mongodb://localhost:27017/aidocs
DB_CONNECTION=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PORT=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# OpenAI
OPENAI_API_KEY=your-openai-api-key

# API Configuration
NEXT_PUBLIC_API_BASE_PATH=/ai-doc
