# Database
MONOGODB_URI=mongodb://admin:password@weamai-mongo-1:27017/test?authSource=admin&retryWrites=true&w=majority

DB_CONNECTION=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PORT=

# Iron Session
NEXT_PUBLIC_COOKIE_NAME=cookie
NEXT_PUBLIC_COOKIE_PASSWORD=82f80fc227d5ee18452b985d94a2f538d3fb1209

# OpenAI
OPENAI_API_KEY=your-openai-api-key

# API Configuration
NEXT_PUBLIC_API_BASE_PATH=/ai-doc
